* {
    margin: 0;
    padding: 0;
}

body {
    background:#000;
}

h1 {
    color: white;
}

h2 {
    color: #d41c1c;
}

p {
    font-family: sans-serif;
    margin-right: 300px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

strong {
    color: #b5b5b5;
}