* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #467cd4;
}

main {
    position: relative;
}

table {
    display: flex;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50% -50%);
    width: 800px;
    background-color: white;
}

.nome {
    width: 120px;
    height: 100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc {
    width: 600px;
    height: 120px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.preco {
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape {
    display: flex;
    width: auto;
    height: 20px;
    background-color: black;
    margin-top: 120%;
    padding: 10px;
}

.link-contato {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-principal {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    padding: 10px;
}